{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1>Admin Dashboard</h1>

    {% if message is defined %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endif %}
    {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    <p><a href="{{ path('admin_add_points') }}">Add Points to Active Users</a></p>
    <p><a href="{{ path('admin_my_products') }}">View My Products</a></p>
    <p><a href="{{ path('admin_user_list') }}">User List</a></p>
{% endblock %}
