{% extends 'base.html.twig' %}

{% block title %}{{ 'product.list.title'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'product.list.heading'|trans }}</h1>

<div class="products">
    {% for product in products %}
        <div class="product">
            <h2><a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a></h2>
            <p>{{ 'product.price'|trans }}: {{ product.price }} pts</p>
            <p>{{ product.description }}</p>
        </div>
    {% else %}
        <p>{{ 'product.list.empty'|trans }}</p>
    {% endfor %}
</div>
{% endblock %}
